.foot{
    margin-top: 20px;
}
aside{
    float:left;width:25%;
    background-color:white;
    margin-right:2%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
        
aside li{
    list-style:none;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
}
article{
    float:right; width:72%;
    background-color:white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

A:link {
text-decoration:none;
}

body{
    background-color: #E9EAF5;
}
a{
    color: black;
}
h4{
    text-align: center;
}
ul li.active a{
    color: blue;
    font-weight: bold;
}
.container{
    position: relative;
}
.bg_form{
    width: 50%;
    margin: auto;
}
.bg_form img{
    width: 12%;
    align-items: center;
}